<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATOPIC DERMATITIS</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <h2>ATOPIC DERMATITIS</h2>
    </header>
    <main>
 <p><br><h4>Definition:</h4> Atopic dermatitis is a chronic skin disorder that is characterized by inflammation of the skin. It is considered a type of eczema and is part of a group of conditions known as atopic diseases, which also include asthma and hay fever. It often begins in childhood but can affect individuals of all ages

    <br><h4>Cause:</h4> The exact cause of atopic dermatitis is not fully understood, but it is believed to result from a combination of genetic, environmental, and immune system factors. Individuals with a family history of atopic diseases are more likely to develop AD.
    
    <h4><br>Common Symptoms of Atopic Dermatitis:</h4>
    
    Itching (Pruritus): Intense itching is the hallmark symptom of atopic dermatitis. The itching can be severe and may lead to scratching, which can further irritate the skin.

    Redness and Inflammation: Affected skin areas often become red, swollen, and inflamed. This inflammation can vary in severity.
    
    Dryness: AD can cause the skin to become extremely dry, making it prone to cracking, scaling, and peeling.
    
    Rash: A rash is a common feature of atopic dermatitis. The rash can vary in appearance and may include raised, scaly patches, bumps, or small fluid-filled blisters.
    
    Oozing and Crusting: In more severe cases, the affected skin may ooze fluid and develop crusts, especially if it has been scratched repeatedly.
    
    Skin Thickening: Over time, chronic scratching or rubbing of the affected areas can lead to thickened skin, a condition called lichenification.
    
    Skin Discoloration: Some individuals with AD may develop patches of skin that become lighter or darker than the surrounding skin.
    
    Secondary Infections: Scratching can break the skin's barrier, making it susceptible to bacterial or viral infections, which can worsen the symptoms.

    <script src="../public/main.js"></script>
</body>
</html>